.header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  transition: background-color 0.8s ease;
}
.nav{
  padding: 5px 1rem;
}
.nav-l:hover{
  color: #10c286;
}

.login-flex{
  align-items: center;
}
.login a:nth-child(1){
  border: 2px solid var(--border-buttons-color);
}
.login a:nth-child(2){
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);

}
.login a:nth-child(2):hover{
  border: 2px solid #025c3b;
  background-color: #025c3b;
}

.scrolled{
  background-color: #0d0c0fc7;
  transition: background-color 0.8s ease;
}

@media (max-width: 750px) {
  .img-logo{
    display: none;
  }

  .login{
    display: none !important;
  }
  
}